*.bin.out.pi
*.bin.out
*.dat
*.log
*converted-to.pdf
thumbulator/sim_main
*.class
*.eps
*.bin
*.elf
*.list
*.pyc
testing/*
!testing/Makefile
!testing/examples.c
!testing/pass.c
!paper/Makfile
.DS_Store
tools/
gccToolchain/tools
*.o
thumbulator/tests/picojpeg/bintoc
thumbulator/tests/picojpeg/host
thumbulator/tests/picojpeg/jpegdata.h
thumbulator/tests/randmath/abcmath.c
thumbulator/tests/randmath/main
thumbulator/tests/randmath/randmath
testing/
asplos16/paper.aux
asplos16/paper.log
asplos16/paper.out
asplos16/paper.pdf
asplos16/paper.bbl
asplos16/paper.blg
